# This is the main configuration file for MrBig

# Lines that start with a # are comments
# Empty lines are ignored
# Invalid lines are ignored, so get the spelling right


# The name as presented in the display (default: localhost)
machine lifebook.qbranch.se

# Which tcp port to use; you probably don't want to change this (1984)
#port 1984

# The .config directive gets config from a server
#.config 10.0.4.5 1985

# The .include directives gets config from other files
#.include C:\MrBig\inctest.txt

# IP address of the display (default: 127.0.0.1)
# There can be more than one display line
display 10.0.4.5
#display 192.168.1.24
#display 127.0.0.1

# How often the client runs the main loop (default: 300 seconds)
#sleep 300

# How many minutes are we "recently booted"? (default: 60 yellow, 30 red)
#bootyellow 60
#bootred 30

# Critical levels for cpu load (default: 80 yellow, 90 red)
#cpuyellow 80
#cpured 90

# Critical levels for filesystems (default: 90 yellow, 95 red)
#dfyellow 90
#dfred 95

# Where are all the other config files? (default: install directory)
#cfgdir C:\Documents and Settings\Ulric\MrBig

# How old messages are we interested in (default: 3600 seconds)
#msgage 36000

# Where ext tests leave their status files. If this is not set,
# the ext tests won't run at all. List the commands to run in
# ext.cfg, and they will be run each time the client processes
# its main loop.
pickupdir C:\temp\pickup

# The client produces quite a bit of debugging output if this is set.
#logfile C:\temp\mrbig.log


# Section headers are enclosed in [square brackets].


[disk]

# The [disk] section is to specify alarm levels that apply only
# to one file system.
# This section can also be put in the disk.cfg file.
# Format:
# Filesystem	yellow	red
C		70	80


[ext]

# List the commands one per line. Each command must place a
# file in the directory specified by the pickupdir directive
# in the main mrbig.cfg. The name of the file will be used as
# the test name on the display.
# This section can also be in the ext.cfg file.

C:\MrBig\child.cmd
#C:\MrBig\child.foo


[msgs]

# The [msgs] section is for event log messages. This section
# can also be in the msgs.cfg file.
# By default no messages are reported by the client.
# This is a rather noisy setting:

red type error
red type audit_failure
yellow type warning

# To filter out messages from the Dhcp system and all messages
# containting the test "MrBig", uncomment these lines:
#ignore source Dhcp
#ignore message MrBig


[procs]

# The [procs] section is for processes. This section can also
# be in the procs.cfg file.
# Format:
# processname	min	max
#
# The process name is not case sensitive
# default min = 1
# default max = min

#apache.exe	1	100
#mrbig.exe


[svcs]

# The [svcs] section is for services. This section can also
# be in the services.cfg file.
# Format:
# ServiceName   [expected status]
#
# By default the service name is used, not the display name.
# To use display names, enclose in "double quotes".
# It is not permitted to mix service and display names.
#
# Explanation of status codes:
# Not installed = 0
# SERVICE_STOPPED = 1
# SERVICE_START_PENDING = 2
# SERVICE_STOP_PENDING = 3
# SERVICE_RUNNING = 4 (default)
# SERVICE_CONTINUE_PENDING = 5
# SERVICE_PAUSE_PENDING = 6
# SERVICE_PAUSED = 7

#Alerter        1
#Dhcp   4
MrBig
#MrSmall        0
#OracleOraHome92TNSListener
#OracleServiceULRIC
#Dnscache
#mysql
#"IPSEC Services"

